.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#main_menu{
    width: 100%;
    position: relative;
    background-color: turquoise;
}

.logo_area{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 33%;
    top: 0;
    content: "";
    margin-left: 150px;
    padding-bottom: 0px;
}

.inner_main_menu{
    margin: 0 auto;
    width: 1170px;
}

.inner_main_menu ul{
    margin: 0;
    padding: 80px;
    list-style: none;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inner_main_menu ul li{
    float: none;
    display: inline-block;
}

.inner_main_menu ul li:nth-child(1){
    float: left;
}

.inner_main_menu ul li:nth-child(2){
    float: left;
}

.inner_main_menu ul li a{
    color: #262626;
    font-size: 35px;
    font-weight: 00;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.inner_main_menu ul li a:hover{
    color: yellow;
}

.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: turquoise;
    padding: 20px 0px;

}

.footer-social-icons{
    width: 100%;
    height: auto;
    width: auto;
}

.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: black;
}

.footer-social-icons ul li a{
    color: turquoise;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}

.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}

.footer-menu-one ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width: 375px) {
    #main_menu{
        display: flex;

    }

    .logo_area {
        position: absolute;
        display:inline-block;
        }
}


#CR{
    text-align: center;
}
  

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background:yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card2{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card3{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background:yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card4{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 10px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card5{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background:yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card6{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card7{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card8{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: yellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image{
    grid-area: image;
    background-image: url("CrayolaBouncy.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text{
    grid-area: text;
    margin: 25px;
}

.card-text .date{
    color: blue;
    font-size: 15px;
}

.card-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card-stats .value sup{
    font-size: 12px;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card2 */

.card2-image{
    grid-area: image;
    background-image: url("TiggerBounce.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card2-text{
    grid-area: text;
    margin: 25px;
}

.card2-text .date{
    color: blue;
    font-size: 15px;
}

.card2-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card2-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card2-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card2-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card2-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card2-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card2-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card2-stats .value sup{
    font-size: 12px;
}

.card2:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 3 */

.card3-image{
    grid-area: image;
    background-image: url("Raging\ Tides.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card3-text{
    grid-area: text;
    margin: 25px;
}

.card3-text .date{
    color: blue;
    font-size: 15px;
}

.card3-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card3-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card3-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card3-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card3-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card3-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card3-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card3-stats .value sup{
    font-size: 12px;
}

.card3:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 4 */

.card4-image{
    grid-area: image;
    background-image: url("Obstacle2.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card4-text{
    grid-area: text;
    margin: 25px;
}

.card4-text .date{
    color: blue;
    font-size: 15px;
}

.card4-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card4-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card4-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card4-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card4-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card4-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card4-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card4-stats .value sup{
    font-size: 12px;
}

.card4:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 5 */

.card5-image{
    grid-area: image;
    background-image: url("ObstacleBouncy.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card5-text{
    grid-area: text;
    margin: 25px;
}

.card5-text .date{
    color: blue;
    font-size: 15px;
}

.card5-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card5-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card5-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card5-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card5-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card5-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card5-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card5-stats .value sup{
    font-size: 12px;
}

.card5:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 6 */

.card6-image{
    grid-area: image;
    background-image: url("Excaliburs\ Castle.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card6-text{
    grid-area: text;
    margin: 25px;
}

.card6-text .date{
    color: blue;
    font-size: 15px;
}

.card6-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card6-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card6-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card6-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card6-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card6-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card6-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card6-stats .value sup{
    font-size: 12px;
}

.card6:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 7 */

.card7-image{
    grid-area: image;
    background-image: url("cornhole.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card7-text{
    grid-area: text;
    margin: 25px;
}

.card7-text .date{
    color: blue;
    font-size: 15px;
}

.card7-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card7-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card7-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card7-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card7-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card7-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card7-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card7-stats .value sup{
    font-size: 12px;
}

.card7:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Card 8 */

.card8-image{
    grid-area: image;
    background-image: url("DblLaneWater\ \(1\).jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card8-text{
    grid-area: text;
    margin: 25px;
}

.card8-text .date{
    color: blue;
    font-size: 15px;
}

.card8-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}

.card8-text h2{
    margin-top: 0px;
    font-size: 28px;
}

.card8-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: turquoise;
}

.card8-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card8-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card8-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card8-stats .border{
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
}

.card8-stats .value sup{
    font-size: 12px;
}

.card8:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}